.card-image {
  max-width: 90%;
  height: auto;
  width: 90%;
}

.card-contents {
  align-items: center;
  justify-items: center;
  aspect-ratio: 1/1;
}
.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
